VITE_BUSINESS_PLATFORM_ENDPOINT=http://localhost:3001/api/data
VITE_SERVICE_ID=store-platform-frontend
VITE_ENVIRONMENT=local
VITE_ACTIONS_ENABLED=PRODUCTS,ADD_NEW_TENANT,TENANTS_LIST,DAILY,CUSTOMERS,CATEGORIES,SUPPLIERS,PARTNERS,SETTINGS,USERS,EMPLOYEES,BARCODE,SELLING_INVOICES,INVOICE_AI,INVOICE,REPORTS,CHANGE_PASSWORD,SETTINGS,ORDERS
VITE_TENANT_ACTIONS_ENABLED=PRODUCTS,ADD_NEW_TENANT,TENANTS_LIST,DAILY,CUSTOMERS,CATEGORIES,SUPPLIERS,PARTNERS,SETTINGS,USERS,EMPLOYEES,BARCODE,SELLING_INVOICES,INVOICE_AI,INVOICE,REPORTS,CHANGE_PASSWORD,SETTINGS,ORDERS
# omit VITE_PERSISTENCE_SERVICE_ENDPOINT; do not set it empty
